:host ::ng-deep {
  .p-inputtext {
    font-size: 0.85rem !important;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 10px;
  }

  .app-texto {
    font-size: 0.85rem !important;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 30px;
    padding-left: 5px !important;
  }
}
