
<ion-header mode="ios"  class="ion-no-border">
  <ion-toolbar class="border-bottom">
    <ion-buttons slot="start">
      <ion-button (click)="compartir()"> <ion-icon slot="icon-only" name="share"></ion-icon> </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only"  name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false" fullscreen="true">
  <ion-slides [options]="slideOpts">
    <ion-slide>
      <div class="swiper-zoom-container">
        <ion-img [src]="imagen"></ion-img>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
