<ion-content>
  <app-mensaje #mensaje></app-mensaje>
  <app-barra #barra>
    <app-boton #botImportar texto="Importar Parámetros" icono="cloud-download-outline" color="tertiary" (onClick)="importar()">
    </app-boton>
  </app-barra>
  <app-tabla #tabTabla1>
    <ng-template #barra>
      <app-boton texto="Configurar" color="primary" icono="hammer-outline" (click)="configurar()"
        [disabled]="!tabTabla1.seleccionada">
      </app-boton>
    </ng-template>
  </app-tabla>
  <app-modal-tabla #modTabla2 height="auto"></app-modal-tabla>
  <app-modal-tabla-seleccion #modTabSeleccion ></app-modal-tabla-seleccion>
</ion-content>