:host ::ng-deep {
    .p-tabview {
       // background:none;
        .p-tabview-nav li .p-tabview-nav-link{
            padding: 10px;
            font-size: 0.9rem;
            color:var(--ion-color-tertiary);
        }
        .p-tabview-panels{
            padding: 0;
        }
    }
}