<!--  PC -->
<ng-container *ngIf="plataforma === 'desktop'">
  <ion-row style="align-items: center;">
    <ion-label class="textos-float ion-padding-horizontal" *ngIf="label"> {{label}}</ion-label>
    <p-dropdown #drw [autoDisplayFirst]="false" appendTo="body" [filter]="listaCombo.length >= 10"
      [style]="{'width':width}" (onChange)="changeEvent()" emptyFilterMessage="No existen registros" [(ngModel)]="valor"
      [options]="listaCombo" [disabled]="lectura" placeholder="Seleccionar...">
      <ng-template let-item pTemplate="selectedItem">
        <span *ngIf="item.label !=='|'">
          <span *ngFor="let valor  of item.label.split('|')">
            <span style="font-size: 0.9rem;padding-right: 10px;">
              {{valor}}</span>
          </span>
        </span>
        <span *ngIf="item.label =='|'" style="visibility: hidden">
          {{item.label}}</span>
      </ng-template>
      <ng-template let-opciones pTemplate="item">
        <div style="width: 100%;height: 100%;padding: 0;margin: 0;" *ngFor="let valor  of opciones.label.split('|')">
          <span style="font-size: 0.8rem;padding-left: 5px;min-width:100%;">
            {{valor}}</span>
        </div>
      </ng-template>
    </p-dropdown>
  </ion-row>
</ng-container>
<!--  MOVIL  -->
<ng-container *ngIf="plataforma !== 'desktop'">
  <ion-row style="align-items: center;">
    <ion-col class="contenedor-comp-movil">
      <ion-label class="ion-no-padding label-stacked-movil" *ngIf="label">
        {{label}}
      </ion-label>
      <ion-select interface="popover" [(ngModel)]="valor" (ionChange)="changeEvent($event)"
        [ngClass]="{ 'p-dropdown p-component app-combo':true , 'invalid' : invalid === true, 'comp-conLabel-movil':label  }">
        <ion-select-option *ngFor="let opciones of listaCombo" [value]="opciones.value" placeholder="Seleccionar...">
          <td style="width: 100%;height: 100%;padding: 0;margin: 0;" *ngFor="let valor  of opciones.label.split('|')">
            <span style="font-size: 0.8rem;padding-left: 5px;min-width:100%;">
              {{valor}}</span>
          </td>
        </ion-select-option>
      </ion-select>
    </ion-col>
  </ion-row>
</ng-container>