:host ::ng-deep {
  .p-dropdown {
    height: 30px;
    font-size: 0.8rem;
    min-width: 250px;
    .p-dropdown-label {
      padding-top: 3px;
    }
  }

  .app-combo {
    font-size: 0.8rem;
    padding-left: 5px;
  }

  ion-select {
    .select-text {
      font-size: 0.8rem;
      z-index: -1;
    }
  } 
}
