<ion-button mode="ios" *ngIf="modo === 'ionic'" size="small" [color]="color" [class]="class"
  [fill]="soloIcono ? 'clear': soloBorde ?'outline':'solid'" (click)="onClickButton($event)"
  [pTooltip]="titulo ? titulo: texto" tooltipPosition="bottom" [disabled]="disabled">
  <span *ngIf="texto && !soloIcono" style="padding-right: 3px;"> {{texto}}</span>
  <ion-icon *ngIf="icono" [slot]="soloIcono ? 'icon-only':'start'" [name]="icono" name="add-circle-outline"></ion-icon>
</ion-button>

<button *ngIf="modo === 'prime'" pButton pRipple [icon]="icono" [ngClass]="{ 'p-button-outlined' : soloBorde === true  
,'p-button-info p-button-sm'  :true
, 'p-button-info' : color === 'medium','p-button' : color === 'primary','p-button-secondary' : color === 'secondary'
  , 'p-button-tertiary' : color === 'tertiary', 'p-button-success' : color === 'success', 'p-button-danger' : color === 'danger'
  , 'p-button-warning' : color === 'warning'
  }" [pTooltip]="titulo ? titulo: ''" [label]="texto" tooltipPosition="bottom"></button>