

.card {
  background: #fff;
  margin-bottom: 1em;
}

.profile-user-page .img-user-profile {
  margin: 0 auto;
  text-align: center;
}
.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: 0.2em solid #f5f5f5;
  width: 100%;
  height: 16em;
  background: linear-gradient(147deg, #252C33 0, #223E6D 100%) !important;
}
.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  background: #fff;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: 0.4em;
  margin-top: -10em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.35);
}

.profile-user-page .img-user-profile .bt-upload {
  margin: 0 auto;
  background: #fff;
  float:right;
  right: 10px;
  padding-right: 15px;
  margin-top:-55px;
}

.profile-user-page .user-profile-data,
.profile-user-page  {
  text-align: center;
  padding: 0;
}
.profile-user-page .user-profile-data h1 {
  margin-top: 0.35em;
  color:  var(--ion-color-tertiary);
  margin-bottom: 0;
  font-size: 1.2rem;
}

:host ::ng-deep {
.p-fileupload {
  .p-button {
    height: 30px;
    font-size: 0.85rem;
    background: var(--ion-color-medium) !important;
    border: 0;
    color: black;
  }
}
}