<ion-content>
    <ion-row class="ion-justify-content-center">
        <ion-col size="8" size-xl="8" size-lg="8" size-md="12" size-sm="12" size-xs="12">
            <ion-card class="caja-borde ion-no-padding">
                <div class="profile-user-page card">
                    <div class="img-user-profile">
                        <img class="profile-bgHome" src="assets/img/card-bg.png" />

                        <img *ngIf="!imgTemp" [src]="usuario.imagenUrl" class="avatar">
                        <img *ngIf="imgTemp" [src]="imgTemp" class="avatar">

                        <p-fileUpload *ngIf="!imgTemp" #fileUpload mode="basic" accept="image/*" [auto]="true"
                            maxFileSize="5000000" chooseLabel="Seleccionar" uploadLabel="Seleccionar"
                            chooseIcon="pi pi-upload" cancelLabel="Descartar" class="bt-upload"
                            (uploadHandler)="cambiarImagen($event,fileUpload)" customUpload="true">
                        </p-fileUpload>

                        <p-button *ngIf="imgTemp" class="bt-upload" label="Aceptar" icon="pi pi-check"
                            (click)="actualizarImagen()" iconPos="left"></p-button>
                    </div>
                    <div class="user-profile-data">
                        <h1 class="ion-padding-horizontal negrilla">{{usuario.nombre | titlecase}}</h1>
                    </div>

                </div>
                <ion-card-content class="ion-no-padding ion-padding-horizontal ion-padding-bottom">

                    <ion-toolbar mode="md">
                        <ion-segment #segment mode="md" value="perfil">
                            <ion-segment-button value="perfil" layout="icon-start">
                                <ion-label>Perfil</ion-label>
                                <ion-icon name="person-outline"></ion-icon>
                            </ion-segment-button>
                            <ion-segment-button value="avatar" layout="icon-start">
                                <ion-label>Avatar</ion-label>
                                <ion-icon name="brush-outline"></ion-icon>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-toolbar>

                    <ion-grid *ngIf="segment.value ==='perfil' " class="ion-padding-top">
                        <ion-row class="ion-justify-content-center">
                            <ion-col size="8" size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12"
                                class="ion-padding-top ion-padding-bottom">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input type="text" class="componente" pInputText
                                                    [value]="identificacion" [readonly]="true">
                                                <label for="inputgroup">Usuario</label>
                                            </span>
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>

                            <ion-col size="8" size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12"
                                class="ion-padding-top ion-padding-bottom">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input type="text" class="componente" pInputText [value]="usuario.email"
                                                    [readonly]="true">
                                                <label for="inputgroup" >Email</label>
                                            </span>
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>

                            <ion-col size="8" size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12"
                                class="ion-padding-top ion-padding-bottom">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input type="text" class="componente" pInputText [value]="usuario.rol"
                                                    [readonly]="true">
                                                <label for="inputgroup" >Perfil</label>
                                            </span>
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-users"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>

                            <ion-col size="8" size-xl="8" size-lg="8" size-md="8" size-sm="12" size-xs="12"
                                class="ion-padding-top ion-padding-bottom">
                                <div class="p-grid p-fluid">
                                    <div class="p-col-12 p-md-4">
                                        <div class="p-inputgroup">
                                            <span class="p-float-label">
                                                <input type="text" class="componente" pInputText [value]="ultimaFecha"
                                                    [readonly]="true">
                                                <label for="inputgroup" >Último Ingreso</label>
                                            </span>
                                            <span class="p-inputgroup-addon">
                                                <i class="pi pi-clock"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </ion-col>

                        </ion-row>

                    </ion-grid>


                    <ion-grid *ngIf="segment.value ==='avatar' " class="ion-padding-top">

                        <div class="centrar width100 ion-text-center">
                            <ion-label >Seleccione un avatar</ion-label>
                        </div>

                        <ion-row class="ion-justify-content-center ion-padding-top">

                            <ion-col *ngFor="let avatar of avatars" size="auto">

                                <div [ngClass]="{ 'cardImagen':true , 'active-card' : avatar.seleccionado === true}"
                                    (click)="seleccionarAvatar(avatar)">
                                    <img [src]="avatar.img | imagen" style="height: 7rem;" />
                                </div>

                            </ion-col>
                        </ion-row>

                        <ion-row class="ion-justify-content-center ion-padding-top">
                            <app-boton texto="Aceptar" color="primary" (onClick)="aceptarAvatar()">
                            </app-boton>
                        </ion-row>


                    </ion-grid>

                </ion-card-content>
            </ion-card>
        </ion-col>



    </ion-row>

</ion-content>