ion-content {
  --background: url("../../../../assets/img/fondo.jpg") var(--ion-color-light) no-repeat;
  --background-size: cover !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--ion-color-text);
}

body {
  color: var(--ion-color-text);
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.side {
  background: url(../../../../assets/img/bk1.png) no-repeat;
  background-size: 100% 102%;
}

.side img {
  width: 50%;
  max-width: 50%;
}

.login-container {
  max-width: 450px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: title;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.separator {
  width: 150px;
  height: 4px;
  background-color: var(--ion-color-primary);
  margin: 24px;
}

.welcome-message {
  text-align: center;
  font-size: 1.1em;
  line-height: 28px;
  margin-bottom: 30px;
  color: #696969;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.1em;
}

input {
  width: 100%;
  background: var(--ion-background);
  color: var(--ion-color-light-contrast);
  border-color: var(--ion-color-light-shade);
  letter-spacing: 0.5px;
  padding: 14px 64px;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
}

input ~ i {
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--ion-color-medium-shade);
  transition: color   0.4s;
}

input:focus ~ i {
  color: var(--ion-color-secondary);
}

button.submit {
  color: #fff;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background:var(--ion-color-primary);
  cursor: pointer;
  transition: opacity 0.4s;
}

button.submit:hover {
  opacity: 0.9;
}

/* ----  Responsiveness   ----  */
@media (max-width: 780px) {

  body {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .side {
      display: none;
  }
}

.registrar{
  display: flex;
  
  a {
    color: var(--ion-color-primary) !important;
    font-weight: 600;
    text-decoration: none;
  }

  button{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    color: var(--ion-color-primary) 

 }
 button:hover{
  color: var(--ion-color-primary-tint) 
}
}
