<ion-content>
<body>

  <section class="side">
    <img src="/assets//svg/login.svg" alt="" class="animate__animated animate__fadeInDown">
</section>

<section class="main">
    <div class="login-container">
        <p class="title">Iniciar Sesión</p>
        <div class="separator"></div>
        <p class="welcome-message"></p>

        <form autocomplete="off" class="login-form" [formGroup]="loginForm" (ngSubmit)="validarLogin()">
            <div class="form-control">
                <input type="text" formControlName="identificacion" placeholder="Cédula o RUC"
                name="usuario" required>
                <i class="fas fa-user"></i>
            </div>
            <div class="form-control">
                <input type="password" formControlName="clave" placeholder="Contraseña" 
                name="clave" required>
                <i class="fas fa-lock"></i>
            </div>

            <button class="submit" [disabled]="loginForm.invalid">Login</button>
        </form>

        <div class="registrar">
          <span>¿No tienes cuenta?</span> <button type="button" (click)="abrirRegistrar()" class="ion-no-padding">Registrarse</button>
        </div>
    </div>
</section>

</body>
</ion-content>