
ion-content {
  --background: url("../../../../assets/img/fondo.jpg") no-repeat !important;
  --background-size: cover !important;
}

ion-card {
  --background: none;
  padding: 6px;
  box-shadow: none;
  box-shadow: 0px 3px 45px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  overflow: visible;
}

ion-list {
  --background: none;
  background: none;
  margin-bottom: 0 !important;

  ion-item {
    
    --background: none;
    border-radius: 4px;
    margin-bottom: 5px;

    ion-icon {
      color: var(--ion-color-tertiary) !important;
      vertical-align:middle;
      padding-top: 8px;
    }

    ion-input {
      --color: var(--ion-color-tertiary) !important;
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  background: none;
  padding-bottom: 20px;
  a {
    color: var(--ion-color-secondary) !important;
    font-weight: 600;
    text-decoration: none;
  }
 
 button{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding-left: 3px;
    color: var(--ion-color-secondary) 

 }
 button:hover{
  color: var(--ion-color-tertiary) 
}

}

