ion-content {
--background:white;
//--background:var(--ion-color-dark);
}

ion-menu ion-content .scroll-content::-webkit-scrollbar {
  display: none;
}

ion-list {
  padding-top:15px;
  --background: transparent;
  --ion-background-color: transparent;
  ion-item {
    --background: transparent;
    --ion-background-color: transparent;
    --border-radius: 10px;
    --inner-padding-start: 0px;
    --color-hover: var(--ion-color-dark);
    --padding: 0;
    --margin: 0;
    ion-label {
      color: var(--ion-color-secondary);
      font-size:0.9rem;
      vertical-align: middle;
      ion-icon {
        vertical-align: middle;
        width:18px;
        height: 18px;
        text-align: center;
      }
    }

    .iconoOpen {
      font-size: 18px;
      padding-right: 0 !important;
      margin-right: 0 !important;
      color: var(--ion-color-secondary);
    }
  }

  ion-item.submenu {
    --background: transparent;
    --ion-background-color: transparent;
    height: 0px;
    ion-label {
      color: var(--ion-color-secondary);
    }
  }

  .padding-icono {
    padding-left: 9px;
  }
  .paddingCard {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }

  .padding-nivel0 {
    padding-left: 8px;
  }
  .padding-nivel1 {
    padding-left: 21px;
  }

  .active-item {
   //--background: #f4f6f7 !important;
    --border-radius: 10px;
    //--background:rgba(7, 6, 97, 0.486)!important;
    --background: var(--ion-color-medium)!important;
    ion-label {
      //color: var(--ion-color-primary) !important;
      color: var(--ion-color-secondary) !important;
      ion-icon {
        color:var(--ion-color-secondary) !important;
        //color: var(--ion-color-light) !important;
      }
    }
  }

  .active-header {
    ion-label {
      color:var(--ion-color-secondary);
      font-weight: bold;
      ion-icon {
        font-weight: bold;
        color:var(--ion-color-secondary);
      }
    }
    ion-icon {
      color: var(--ion-color-secondary);
    }
  }
}
