<ion-menu side="start" menuId="first" contentId="main">
  <ion-header mode="ios">
    <ion-toolbar mode="ios" class="fondo centrar">
      <img class="img-responsive img-rounded" src="assets/icon/logo.png" alt="Logo" height="32">
    </ion-toolbar>
  </ion-header>

  <nav class="fondo navbar ">
    <ion-list mode="ios">
      <div class="paddingCard" *ngFor="let mn of menus">

        <!--OPCIONES SIN HIJOS-->
        <ion-item mode="ios" [class]="mn.tag" *ngIf="mn.ruta" detail="false"
          [ngClass]="{ 'ion-no-padding':true , 'active-item' : selected === mn.data}" button lines="none"
          (click)="toggleMenu(mn)">
          <ion-label class="padding-nivel0">
            <ion-icon [name]="mn.icon"></ion-icon>
            <ion-text class="padding-icono">{{mn.label}}</ion-text>
          </ion-label>
        </ion-item>

        <!--OPCIONES CON HIJO-->
        <ion-item mode="ios" button lines="none" *ngIf="!mn.ruta" detail="false"
          [ngClass]="{ 'ion-no-padding':true , 'active-header' : mn.isOpen}" (click)="toggleMenu(mn)">
          <ion-label class="padding-nivel0">
            <ion-icon [name]="mn.icon"></ion-icon>
            <ion-text class="padding-icono">{{mn.label}}</ion-text>
          </ion-label>
          <ion-icon [style]="{transform: (mn.isOpen ? 'rotate(90deg)' : 'rotate(0deg)')}" class="iconoOpen"
            [class]="'menuarrow chevron_' + mn.tag" *ngIf="mn.items && mn.items.length"
            name="arrow-forward-circle-outline" slot="end">
          </ion-icon>
        </ion-item>
        <ion-item mode="ios" [class]="mn.tag" detail="false"
          [ngClass]="{ 'ion-no-padding ion-no-margin submenu':true , 'active-item' : selected === ch.data}"
          *ngFor="let ch of mn.items" button lines="none" (click)="abrirPagina(ch)">
          <ion-label class="padding-nivel1">
            <ion-icon [name]="ch.icon"></ion-icon>
            <ion-text class="padding-icono">{{ch.label}}</ion-text>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>
  </nav>
</ion-menu>