<!--  PC -->
<ion-row *ngIf="plataforma === 'desktop'" style="align-items: center; ">
  <ion-label class="textos-float ion-padding-horizontal">Fecha Inicio:</ion-label>
  <app-calendario #calFechaInicial style="width: 7rem;"> </app-calendario>
  <ion-label class="textos-float ion-padding-horizontal">Fecha Final:</ion-label>
  <app-calendario #calFechaFinal style="width: 7rem;margin-right: 15px;"> </app-calendario>
  <app-boton icono="pi pi-search" titulo="Buscar" color="medium" modo="prime" (click)="buscarClick()"></app-boton>
</ion-row>
<!--  MOVIL -->
<ion-row *ngIf="plataforma !== 'desktop'" style="align-items: center;" class="ion-no-padding">
  <ion-col class="ion-no-padding">
    <app-calendario #calFechaInicial class="app-calendario" label="Fecha Inicio"></app-calendario>
  </ion-col>
  <ion-col class="ion-no-padding">
    <app-calendario #calFechaFinal class="app-calendario" label=" Fecha Fin"></app-calendario>
  </ion-col>
  <ion-col class="ion-no-padding">
    <app-boton style="margin-top: 17px;display: block;" icono="pi pi-search" titulo="Buscar" color="medium" modo="prime" (click)="buscarClick()"></app-boton>
  </ion-col>
</ion-row>