<ion-row *ngIf="plataforma === 'desktop'">
  <ion-label class="textos-float">Fecha Inicio:</ion-label>
  <app-calendario class="ion-padding-horizontal" #calFechaInicial> </app-calendario>
  <ion-label class="textos-float">Fecha Final:</ion-label>
  <app-calendario class="ion-padding-horizontal" #calFechaFinal> </app-calendario>
  <app-boton icono="pi pi-search" titulo="Buscar" color="medium" modo="prime"></app-boton>
</ion-row>

<ion-row *ngIf="plataforma !== 'desktop'" size="12">
  <ion-col size="5">
    <ion-item lines="none">

      <ion-label position="stacked">
        Fecha Inicio
      </ion-label>
      <app-calendario class="app-calendario"></app-calendario>
    </ion-item>

  </ion-col>
  <ion-col size="5">
    <ion-item lines="none">
      <ion-label position="stacked">
        Fecha Fin
      </ion-label>
      <app-calendario class="app-calendario"></app-calendario>
    </ion-item>

  </ion-col>
  <ion-col size="2">
    <app-boton icono="pi pi-search" titulo="Buscar" color="medium" modo="prime"></app-boton>
  </ion-col>
</ion-row>