
  <div class="pantalla">
    <app-mensaje #mensaje></app-mensaje>
    <app-barra #barra></app-barra>
    <app-division tipo="vertical" porcentaje1="25">
      <ng-template #division1>
        <app-arbol #arbArbol></app-arbol>
      </ng-template>
      <ng-template #division2>
        <app-division tipo="horizontal" porcentaje1="50">
          <ng-template #division1>
            <app-tabla #tabTabla1></app-tabla>
          </ng-template>
          <ng-template #division2>
            <p-tabView>
              <p-tabPanel header="TABLAS">
                <app-tabla #tabTabla2></app-tabla>
              </p-tabPanel>
              <p-tabPanel header="REPORTES">
                <app-tabla #tabTabla3></app-tabla>
              </p-tabPanel>
              <p-tabPanel header="OBJETOS - COMPONENTES">
                <app-tabla #tabTabla4></app-tabla>
              </p-tabPanel>
            </p-tabView>
          </ng-template>
        </app-division>
      </ng-template>
    </app-division>
  </div>
