:host ::ng-deep {
    .p-tabview {
        padding-left: 2px;
        .p-tabview-nav li .p-tabview-nav-link{
            padding: 6px;
            padding-left: 15px;
            font-size: 0.9rem;
            background:rgb(250, 249, 249); 
        }

        .p-tabview-panels{
            background:none;
            padding: 0;
        }
    }
}