/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

@font-face {
  font-family: "DM Sans";
  src: url(assets/fonts/DM_Sans/DMSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

body :not(ion-icon):not(i):not(.pi) {
  font-family: "DM Sans" !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #ffffff;
}
*::-webkit-scrollbar-thumb {
  background: var(--ion-color-medium-shade);
  border-radius: 5px;
  &:active {
    background: var(--ion-color-medium);
  }
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--ion-color-medium);
}

.componente {
  font-size: 0.9rem;
}

ion-card {
  //--background: white;
  //box-shadow: none;
  //border-radius: 3px;

  box-shadow: none;
  border-radius: 4px;
  //box-shadow: 0px 3px 40px 0px rgba(0, 0, 0, 0.10);
}

// Removing iOS and Android Header line for entire app
ion-toolbar {
  --border-width: 0 !important;
}

.p-tooltip .p-tooltip-text {
  font-size: 0.85rem !important;
}

/*
   * textos colores fondo
   */
.fw700 {
  font-weight: 700 !important;
}
.fw500 {
  font-weight: 500 !important;
}
.fw400 {
  font-weight: 400 !important;
}

.mayusculas {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.negrilla {
  font-weight: bold;
}

//Css componentes para movil
.label-stacked-movil {
  position: absolute;
  font-size: 0.78rem !important;
  color: var(--ion-color-medium-shade) !important;
  display: block;
  float: none;
}
.comp-conLabel-movil {
  margin-top: 17px;
}

.contenedor-comp-movil {
  display: block;
  float: none;
  line-height: normal;
  position: relative;
}
//Fin

.text-red {
  color: #dd4b39 !important;
}
.text-yellow {
  color: #fffc48 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #111111 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-link-blue {
  color: #3880ff !important;
}
.text-dark-blue {
  color: #1c457a !important;
}
.text-green {
  color: #00a65a !important;
}
.text-gray {
  color: #d2d6de !important;
}
.text-dark-gray {
  color: #424242 !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #09baa5 !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #605ca8 !important;
}
.text-maroon {
  color: #d81b60 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-indigo {
  color: #4b0082 !important;
}
.text-amber {
  color: #ffbf00 !important;
}
.text-coffee {
  color: #a07659 !important;
}
.text-custom {
  color: #9ca3c0 !important;
}
.text-muted {
  color: #898c91 !important;
}
.text-primary {
  color: var(--ion-color-primary) !important;
}
.text-tertiary {
  color: var(--ion-color-tertiary) !important;
}
.text-secondary {
  color: var(--ion-color-secondary) !important;
}
.text-medium {
  color: var(--ion-color-medium) !important;
}
.text-light {
  color: var(--ion-color-light) !important;
}
.text-dark {
  color: var(--ion-color-dark) !important;
}
.text-success {
  color: var(--ion-color-success) !important;
}

/*Tamaño de letra*/
.textos {
  font-size: 0.9rem;
}

.textos-float {
  font-size: 0.8rem;
  color: #252c33;
}

.text-8pt {
  font-size: 8pt;
}
.text-9pt {
  font-size: 9pt;
}
.text-10pt {
  font-size: 10pt;
}
.text-11pt {
  font-size: 11pt;
}
.text-12pt {
  font-size: 12pt;
}
.text-14pt {
  font-size: 14pt;
}

.hr {
  border-width: 1px;
  color: #9ca3c0;
  height: 0;
}

.width100 {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.width99 {
  width: 99%;
}

.height100 {
  height: 100%;
  display: block;
}

.font {
  font-size: 0.9rem !important;
}
.bg-celeste {
  background-color: #e0f2fe !important;
  --background: #e0f2fe !important;
}
.bg-gray {
  color: #000;
  background-color: #d2d6de !important;
}
.bg-gray-light {
  background-color: #f7f7f7;
  --background: #f7f7f7 !important;
}
.bg-black {
  background-color: #111111 !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #05baa5 !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #605ca8 !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-indigo {
  background-color: #4b0082 !important;
}
.bg-amber {
  background-color: #ffbf00 !important;
}
.bg-coffee {
  background-color: #a07659 !important;
}
.bg-transparente {
  --background: transparent;
  background-color: transparent;
}

/**Poder seleccionar pantalla */
body {
  -webkit-user-select: text;
  user-select: text;
}

ion-content {
  --background: var(--ion-color-light);
}
.bg-content {
  background: var(--ion-color-light);
}

.bg-oscuro {
  background: #373737;
}

.bg-primary {
  background-color: var(--ion-color-primary) !important;
  //color:  var(--ion-color-primary-contrast) ;
}
.bg-secondary {
  background-color: var(--ion-color-secondary) !important;
  //color:  var(--ion-color-secondary-contrast) ;
}
.bg-tertiary {
  background-color: var(--ion-color-tertiary) !important;
  // color:  var(--ion-color-tertiary-contrast) ;
}
.bg-light {
  background-color: var(--ion-color-light) !important;
  // color:  var(--ion-color-light-contrast) ;
}
.bg-success {
  background-color: var(--ion-color-success) !important;
  // color:  var(--ion-color-success-contrast) ;
}
.bg-danger {
  background-color: var(--ion-color-danger) !important;
  // color:  var(--ion-color-danger-contrast) ;
}
.bg-warning {
  background-color: var(--ion-color-warning) !important;
  // color:  var(--ion-color-warning-contrast) ;
}
.bg-medium {
  background-color: var(--ion-color-medium) !important;
  color: var(--ion-color-medium-contrast) !important;
}
.bg-dark {
  background-color: var(--ion-color-dark) !important;
  color: var(--ion-color-dark-contrast) !important;
}

.invalid {
  border-color: #f44336;
}

.no-borde {
  border: 0 !important;
}
.border-bottom {
  border-bottom: 1px solid var(--ion-color-light-shade) !important;
}
.border-bottom-soft {
  border-bottom: 1px solid var(--ion-color-light-shade) !important;
}
.border-top {
  border-top: 1px solid var(--ion-color-light-shade) !important;
}
.border-right {
  border-right: 1px solid var(--ion-color-light-shade) !important;
}
.border-left {
  border-left: 1px solid var(--ion-color-light-shade) !important;
}
.border-danger {
  border-color: var(--ion-color-danger) !important;
}
.border-primary {
  border-color: var(--ion-color-primary) !important;
}
.border-tertiary {
  border-color: var(--ion-color-tertiary) !important;
}
.border-white {
  border-color: #fafafa !important;
}

.button-vertical-align {
  position: absolute;
  top: calc(50% - 12.2px);
}
.button-left {
  right: 0px;
}
.button-right {
  left: 0px;
}

.position-relative {
  position: relative;
}

.centrar {
  text-align: center;
}

.alinear-derecha {
  text-align: right;
}

.alinear-izquierda {
  text-align: left;
}

.cursor {
  cursor: pointer;
}

.pantalla {
  width: 100%;
  height: calc(100% - 55px);
}

.my-custom-modal-class .modal-wrapper {
  --height: 70% !important;
  --width: 80% !important;
  position: absolute;
}

.caja-borde {
  border-radius: 0 !important;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 0 2px 0 rgba(0, 0, 0, 0.14) !important;
}

.loadin-class {
  ion-spinner {
    transform: scale(3);
  }

  --spinner-color: var(--ion-color-secondary);
  box-shadow: none;
  color: rgb(66, 66, 66);
  --background: none;
  .loading-wrapper {
    box-shadow: none !important;
  }
}

//Tabview
.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-tabview .p-tabview-panels {
  background: transparent;
}
.p-tabview
  .p-tabview-nav
  li:not(.p-highlight):not(.p-disabled):hover
  .p-tabview-nav-link {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
}
.p-tabview .p-tabview-nav {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: var(--ion-background-color);
  border-color: var(--ion-color-primary);
  color: var(--ion-color-light-contrast);
}

//Botones Prime
.p-button {
  font-size: 0.93rem !important;
  color: #ffffff;
  background: var(--ion-color-primary);
  border: 1px solid var(--ion-color-primary);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 4px;
  max-height: 30px;
}
.p-button:enabled:hover {
  background: var(--ion-color-primary-tint);
  color: #ffffff;
  border-color: var(--ion-color-primary-tint);
}
.p-button:enabled:active {
  background: var(--ion-color-primary);
  color: #ffffff;
  border-color: var(--ion-color-primary);
}
.p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-primary);
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:hover {
  background: rgba(33, 150, 243, 0.04);
  color: var(--ion-color-primary-tint);
  border: 1px solid;
}
.p-button.p-button-outlined:enabled:active {
  background: rgba(33, 150, 243, 0.16);
  color: var(--ion-color-primary);
  border: 1px solid;
}

//Secundario
.p-button.p-button-secondary,
.p-buttonset.p-button-secondary > .p-button,
.p-splitbutton.p-button-secondary > .p-button {
  color: #ffffff;
  background: var(--ion-color-secondary);
  border: 1px solid var(--ion-color-secondary);
}
.p-button.p-button-secondary:enabled:hover,
.p-buttonset.p-button-secondary > .p-button:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button:enabled:hover {
  background: var(--ion-color-secondary-tint);
  color: #ffffff;
  border-color: var(--ion-color-secondary-tint);
}
.p-button.p-button-secondary:enabled:focus,
.p-buttonset.p-button-secondary > .p-button:enabled:focus,
.p-splitbutton.p-button-secondary > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #beccd2;
}
.p-button.p-button-secondary:enabled:active,
.p-buttonset.p-button-secondary > .p-button:enabled:active,
.p-splitbutton.p-button-secondary > .p-button:enabled:active {
  background: var(--ion-color-secondary);
  color: #ffffff;
  border-color: var(--ion-color-secondary);
}
.p-button.p-button-secondary.p-button-outlined,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-secondary);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(59, 63, 80, 0.04);
  color: var(--ion-color-secondary-tint);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-outlined:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-outlined:enabled:active {
  background: rgba(59, 63, 80, 0.04);
  color: var(--ion-color-secondary);
  border: 1px solid;
}
.p-button.p-button-secondary.p-button-text,
.p-buttonset.p-button-secondary > .p-button.p-button-text,
.p-splitbutton.p-button-secondary > .p-button.p-button-text {
  background-color: transparent;
  color: var(--ion-color-secondary);
  border-color: transparent;
}
.p-button.p-button-secondary.p-button-text:enabled:hover,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:hover {
  background: rgba(59, 63, 80, 0.04);
  border-color: transparent;
  color: var(--ion-color-secondary-tint);
}
.p-button.p-button-secondary.p-button-text:enabled:active,
.p-buttonset.p-button-secondary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-secondary > .p-button.p-button-text:enabled:active {
  background: rgba(59, 63, 80, 0.04);
  border-color: transparent;
  color: var(--ion-color-secondary);
}

//tertiary
.p-button.p-button-tertiary,
.p-buttonset.p-button-tertiary > .p-button,
.p-splitbutton.p-button-tertiary > .p-button {
  color: #ffffff;
  background: var(--ion-color-tertiary);
  border: 1px solid var(--ion-color-tertiary);
}
.p-button.p-button-tertiary:enabled:hover,
.p-buttonset.p-button-tertiary > .p-button:enabled:hover,
.p-splitbutton.p-button-tertiary > .p-button:enabled:hover {
  background: var(--ion-color-tertiary-tint);
  color: #ffffff;
  border-color: var(--ion-color-tertiary-tint);
}
.p-button.p-button-tertiary:enabled:focus,
.p-buttonset.p-button-tertiary > .p-button:enabled:focus,
.p-splitbutton.p-button-tertiary > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #beccd2;
}
.p-button.p-button-tertiary:enabled:active,
.p-buttonset.p-button-tertiary > .p-button:enabled:active,
.p-splitbutton.p-button-tertiary > .p-button:enabled:active {
  background: var(--ion-color-tertiary);
  color: #ffffff;
  border-color: var(--ion-color-tertiary);
}
.p-button.p-button-tertiary.p-button-outlined,
.p-buttonset.p-button-tertiary > .p-button.p-button-outlined,
.p-splitbutton.p-button-tertiary > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-tertiary);
  border: 1px solid;
}
.p-button.p-button-tertiary.p-button-outlined:enabled:hover,
.p-buttonset.p-button-tertiary > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-tertiary > .p-button.p-button-outlined:enabled:hover {
  background: rgba(59, 63, 80, 0.04);
  color: var(--ion-color-tertiary-tint);
  border: 1px solid;
}
.p-button.p-button-tertiary.p-button-outlined:enabled:active,
.p-buttonset.p-button-tertiary > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-tertiary > .p-button.p-button-outlined:enabled:active {
  background: rgba(59, 63, 80, 0.04);
  color: var(--ion-color-secondary);
  border: 1px solid;
}
.p-button.p-button-tertiary.p-button-text,
.p-buttonset.p-button-tertiary > .p-button.p-button-text,
.p-splitbutton.p-button-tertiary > .p-button.p-button-text {
  background-color: transparent;
  color: var(--ion-color-tertiary);
  border-color: transparent;
}
.p-button.p-button-tertiary.p-button-text:enabled:hover,
.p-buttonset.p-button-tertiary > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-tertiary > .p-button.p-button-text:enabled:hover {
  background: rgba(59, 63, 80, 0.04);
  border-color: transparent;
  color: var(--ion-color-tertiary-tint);
}
.p-button.p-button-tertiary.p-button-text:enabled:active,
.p-buttonset.p-button-tertiary > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-tertiary > .p-button.p-button-text:enabled:active {
  background: rgba(59, 63, 80, 0.04);
  border-color: transparent;
  color: var(--ion-color-tertiary);
}

//Info
.p-button.p-button-info,
.p-buttonset.p-button-info > .p-button,
.p-splitbutton.p-button-info > .p-button {
  color: var(--ion-color-medium-contrast);
  background: var(--ion-color-medium);
  border: 1px solid var(--ion-color-medium);
}
.p-button.p-button-info:enabled:hover,
.p-buttonset.p-button-info > .p-button:enabled:hover,
.p-splitbutton.p-button-info > .p-button:enabled:hover {
  background: var(--ion-color-medium-tint);
  color: var(--ion-color-medium-contrast);
  border-color: var(--ion-color-medium);
}
.p-button.p-button-info:enabled:focus,
.p-buttonset.p-button-info > .p-button:enabled:focus,
.p-splitbutton.p-button-info > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem var(--ion-color-medium);
}
.p-button.p-button-info:enabled:active,
.p-buttonset.p-button-info > .p-button:enabled:active,
.p-splitbutton.p-button-info > .p-button:enabled:active {
  background: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
  border-color: var(--ion-color-medium);
}
.p-button.p-button-info.p-button-outlined,
.p-buttonset.p-button-info > .p-button.p-button-outlined,
.p-splitbutton.p-button-info > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-medium);
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:hover {
  background: rgba(223, 227, 230, 0.16);
  color: var(--ion-color-medium-tint);
  border: 1px solid;
}
.p-button.p-button-info.p-button-outlined:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-outlined:enabled:active {
  background: rgba(223, 227, 230, 0.16);
  color: var(--ion-color-medium);
  border: 1px solid;
}
.p-button.p-button-info.p-button-text,
.p-buttonset.p-button-info > .p-button.p-button-text,
.p-splitbutton.p-button-info > .p-button.p-button-text {
  background-color: transparent;
  color: var(--ion-color-medium);
  border-color: transparent;
}
.p-button.p-button-info.p-button-text:enabled:hover,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:hover {
  background: rgba(223, 227, 230, 0.16);
  border-color: transparent;
  color: var(--ion-color-medium-tint);
}
.p-button.p-button-info.p-button-text:enabled:active,
.p-buttonset.p-button-info > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-info > .p-button.p-button-text:enabled:active {
  background: rgba(223, 227, 230, 0.16);
  border-color: transparent;
  color: var(--ion-color-medium);
}

//success
.p-button.p-button-success,
.p-buttonset.p-button-success > .p-button,
.p-splitbutton.p-button-success > .p-button {
  color: #ffffff;
  background: var(--ion-color-success);
  border: 1px solid var(--ion-color-success);
}
.p-button.p-button-success:enabled:hover,
.p-buttonset.p-button-success > .p-button:enabled:hover,
.p-splitbutton.p-button-success > .p-button:enabled:hover {
  background: var(--ion-color-success-tint);
  color: #ffffff;
  border-color: var(--ion-color-success-tint);
}
.p-button.p-button-success:enabled:focus,
.p-buttonset.p-button-success > .p-button:enabled:focus,
.p-splitbutton.p-button-success > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem var(--ion-color-success);
}
.p-button.p-button-success:enabled:active,
.p-buttonset.p-button-success > .p-button:enabled:active,
.p-splitbutton.p-button-success > .p-button:enabled:active {
  background: var(--ion-color-success);
  color: #ffffff;
  border-color: var(--ion-color-success);
}
.p-button.p-button-success.p-button-outlined,
.p-buttonset.p-button-success > .p-button.p-button-outlined,
.p-splitbutton.p-button-success > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-success);
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  color: var(--ion-color-success-tint);
  border: 1px solid;
}
.p-button.p-button-success.p-button-outlined:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-outlined:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  color: var(--ion-color-success);
  border: 1px solid;
}
.p-button.p-button-success.p-button-text,
.p-buttonset.p-button-success > .p-button.p-button-text,
.p-splitbutton.p-button-success > .p-button.p-button-text {
  background-color: transparent;
  color: var(--ion-color-success);
  border-color: transparent;
}
.p-button.p-button-success.p-button-text:enabled:hover,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:hover {
  background: rgba(104, 159, 56, 0.04);
  border-color: transparent;
  color: var(--ion-color-success-tint);
}
.p-button.p-button-success.p-button-text:enabled:active,
.p-buttonset.p-button-success > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-success > .p-button.p-button-text:enabled:active {
  background: rgba(104, 159, 56, 0.16);
  border-color: transparent;
  color: var(--ion-color-success);
}
//danger
.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
  color: #ffffff;
  background: var(--ion-color-danger);
  border: 1px solid var(--ion-color-danger);
}
.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
  background: var(--ion-color-danger-tint);
  color: #ffffff;
  border-color: var(--ion-color-danger-tint);
}
.p-button.p-button-danger:enabled:focus,
.p-buttonset.p-button-danger > .p-button:enabled:focus,
.p-splitbutton.p-button-danger > .p-button:enabled:focus {
  box-shadow: 0 0 0 0.2rem #edacac;
}
.p-button.p-button-danger:enabled:active,
.p-buttonset.p-button-danger > .p-button:enabled:active,
.p-splitbutton.p-button-danger > .p-button:enabled:active {
  background: var(--ion-color-danger);
  color: #ffffff;
  border-color: var(--ion-color-danger);
}
.p-button.p-button-danger.p-button-outlined,
.p-buttonset.p-button-danger > .p-button.p-button-outlined,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined {
  background-color: transparent;
  color: var(--ion-color-danger);
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  color: var(--ion-color-danger-tint);
  border: 1px solid;
}
.p-button.p-button-danger.p-button-outlined:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-outlined:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-outlined:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  color: var(--ion-color-danger);
  border: 1px solid;
}
.p-button.p-button-danger.p-button-text,
.p-buttonset.p-button-danger > .p-button.p-button-text,
.p-splitbutton.p-button-danger > .p-button.p-button-text {
  background-color: transparent;
  color: var(--ion-color-danger);
  border-color: transparent;
}
.p-button.p-button-danger.p-button-text:enabled:hover,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:hover,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:hover {
  background: rgba(211, 47, 47, 0.04);
  border-color: transparent;
  color: var(--ion-color-danger-tint);
}
.p-button.p-button-danger.p-button-text:enabled:active,
.p-buttonset.p-button-danger > .p-button.p-button-text:enabled:active,
.p-splitbutton.p-button-danger > .p-button.p-button-text:enabled:active {
  background: rgba(211, 47, 47, 0.16);
  border-color: transparent;
  color: var(--ion-color-sucdangercess);
}

//dialogo
.p-dialog {
  max-height: 100% !important;
  background: var(--ion-background-color);
}
.p-dialog .p-dialog-header {
  padding: 0;
}

.p-dialog-title {
  width: 100% !important;
}

.p-dialog .p-dialog-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-bottom: 20px !important;
  background: var(--ion-background-color);
}

.p-dialog-footer {
  padding: 0 !important;
}

.p-dialog-mask.p-component-overlay {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.dialogo {
  min-width: 50%;
  min-height: 60%;
  background: white;
  box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  z-index: 0;
  background: var(--ion-background-color);
}

@media screen and (max-width: 50em) {
  .dialogo {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    transform: scale(1);
    background: var(--ion-background-color);
  }
}

///

// Removing ion-button focus outline
ion-button:focus {
  outline: none !important;
}

ion-buttons:focus {
  outline: none !important;
}

ion-button {
  font-size: 0.93rem !important;
}

//swal2
.swal2-styled.swal2-cancel {
  border: 1px solid var(--ion-color-primary) !important;
  padding: 0.5rem 1rem;
  font-size: 1rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 4px;
  min-height: 30px;
  background-color: white !important;
  color: var(--ion-color-primary) !important;
}
.swal2-styled.swal2-cancel:hover {
  background: rgba(33, 150, 243, 0.04) !important;
  color: var(--ion-color-primary-tint) !important;
  border: 1px solid;
}

.swal2-styled.swal2-confirm {
  border: 1px solid var(--ion-color-primary) !important;
  padding: 0.5rem 1rem;
  font-size: 1rem !important;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  border-radius: 4px;
  min-height: 30px;
  background-color: var(--ion-color-primary) !important;
  color: white !important;
}
.swal2-styled.swal2-confirm:hover {
  background: var(--ion-color-primary-tint) !important;
  color: #ffffff;
  border-color: var(--ion-color-primary-tint) !important;
}

.swal2-styled:focus {
  outline: none !important;
  background-color: none !important;
  box-shadow: none !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: var(--ion-color-light-tint);
  border: 1px solid var(--ion-color-light-shade);
  color: var(--ion-color-light-contrast);
}

.p-datatable .p-datatable-tbody > tr {
  background: var(--ion-color-light);
  color: var(--ion-color-text);
}
.p-datatable .p-datatable-tbody > tr > td {
  border: 1px solid var(--ion-color-light-shade);
}
.p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: var(--ion-background-color);
}

.p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: var(--ion-color-medium);
  color: var(--ion-color-light-contrast);
}
.p-datatable
  .p-sortable-column:not(.p-highlight):hover
  .p-sortable-column-icon {
  color: var(--ion-color-light-contrast);
}
.p-datatable .p-sortable-column.p-highlight {
  background: var(--ion-color-light-tint);
  color: var(--ion-color-primary);
}
.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: var(--ion-color-primary);
}
.p-datatable .p-sortable-column.p-highlight:hover {
  background: var(--ion-color-light-tint);
  color: var(--ion-color-primary);
}
.p-datatable .p-sortable-column.p-highlight:hover .p-sortable-column-icon {
  color: var(--ion-color-primary);
}
.p-datatable .p-sortable-column:focus {
  box-shadow: none;
  outline: 0 none;
}

.p-datatable.p-datatable-striped
  .p-datatable-tbody
  > tr:nth-child(even).p-highlight {
  background: var(--ion-background-active);
  color: var(--ion-color-light-contrast);
}
.p-datatable.p-datatable-hoverable-rows
  .p-datatable-tbody
  > tr:not(.p-highlight):hover {
  background: var(--ion-color-medium);
  color: var(--ion-color-light-contrast);
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: var(--ion-background-active);
  color: var(--ion-color-light-contrast);
}
/** 




*/

//textos
.p-inputtext {
  background: var(--ion-background-color);
  color: var(--ion-color-text);
  border-color: var(--ion-color-light-shade);
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

.p-component{
  background: var(--ion-background-color);
  color: var(--ion-color-text);
  border-color: var(--ion-color-light-shade);
}

//menu
.p-menuitem > .p-menuitem-link {
  background: var(--ion-background-color);
  color: var(--ion-color-text);
}
.p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: var(--ion-color-text);
}
.p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

.p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: var(--ion-color-light-contrast);
}
.p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: var(--ion-color-light-contrast);
}
.p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: var(--ion-color-light-contrast);
}

.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: var(--ion-color-light);
}
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: var(--ion-color-light-contrast);
}
.p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon  {
  color: var(--ion-color-light-contrast);
}
.p-tieredmenu .p-menu-separator {
  border-color: var(--ion-color-light-shade);
}
.p-tieredmenu.p-tieredmenu-overlay  {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}

.p-contextmenu {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-contextmenu  .p-menu-separator {
  border-color: var(--ion-color-light-shade);
}
.p-contextmenu  .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: var(--ion-color-light);
}
.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text {
  color: var(--ion-color-light-contrast);
}
.p-contextmenu  .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon  {
  color: var(--ion-color-light-contrast);
}
.p-tieredmenu .p-menu-separator {
  border-color: var(--ion-color-light-shade);
}

.p-column-filter-overlay {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-column-filter-overlay-menu .p-column-filter-buttonbar {
  //background: var(--ion-color-light);
  padding:8px;
}
.p-overlaypanel .p-overlaypanel-content {
  background: var(--ion-background-color);
}

///////////////////
.p-tree {
  background: var(--ion-background-color);
  color: var(--ion-color-text);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox .p-indeterminate .p-checkbox-icon {
  color: var(--ion-color-text);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background: var(--ion-background-active);
  color: var(--ion-color-light-contrast);
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon {
  color: var(--ion-color-text);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-tree-toggler:hover,
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight .p-treenode-icon:hover {
  color: var(--ion-color-light-contrast);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-selectable:not(.p-highlight):hover {
  background: var(--ion-color-medium);
  color: var(--ion-color-light-contrast);
}
.p-tree .p-tree-container .p-treenode .p-treenode-content.p-treenode-dragover {
  background: var(--ion-color-medium);
  color: var(--ion-color-light-contrast);
}

////////////////////////////////
.p-tooltip {
  background: transparent;
}
.p-tooltip .p-tooltip-text {
  background: black;
}
//////////
.p-checkbox .p-checkbox-box {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none;
}
//////
.p-datepicker:not(.p-datepicker-inline) {
  background: var(--ion-background-color);
  color: var(--ion-color-text);
}
.p-datepicker:not(.p-datepicker-inline) .p-datepicker-header {
  background: var(--ion-background-color);
}
.p-datepicker .p-datepicker-header {
  color: var(--ion-color-text);
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  color: var(--ion-color-text);
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  box-shadow: none;
}
.p-datepicker .p-datepicker-header .p-datepicker-title select:focus {
  box-shadow: none;
}

.p-datepicker table td > span:focus {
  box-shadow: none;
}

.p-datepicker table td.p-datepicker-today > span {
  background: var(--ion-color-light);
  color: var(--ion-color-text);

}
.p-datepicker .p-datepicker-buttonbar {
  border-color: var(--ion-color-light-shade);
}
.p-datepicker .p-timepicker {
  border-color: var(--ion-color-light-shade);
}

.p-datepicker .p-timepicker button {

  color: var(--ion-color-medium);

}
.p-datepicker .p-timepicker button:focus {

  box-shadow: none;
}
.p-datepicker.p-datepicker-multiple-month .p-datepicker-group {
  border-color: var(--ion-color-light-shade);
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background: var(--ion-color-light-tint);
}
.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):focus {

  box-shadow: none;
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-highlight):not(.p-disabled):hover {
  background: var(--ion-color-light-tint);
}
.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-highlight):not(.p-disabled):focus {
  box-shadow: none;
}
.p-datepicker table td > span.p-highlight {
  background: var(--ion-background-active);
  color: var(--ion-color-light-contrast);
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-next:enabled:hover {
  background: var(--ion-color-medium);
  color: var(--ion-color-light-contrast);
}

.p-datepicker .p-datepicker-buttonbar {
  border-color: var(--ion-color-light-shade);
}
////////////////////////////////
.p-dropdown {
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-dropdown:not(.p-disabled):hover {
  border-color: var(--ion-color-primary);
}
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.p-dropdown-panel {
  background: var(--ion-background-color);
  color: var(--ion-color-text);
  border-color: var(--ion-color-light-shade);
}

.p-dropdown-panel .p-dropdown-header {
  color: var(--ion-color-text);
  background: var(--ion-background-color);
  border-color: var(--ion-color-light-shade);
}
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {

  color:var(--ion-color-medium);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  color: var(--ion-color-text);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled):hover {
  color: var(--ion-color-text);
  background: var(--ion-color-light-tint);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  color: var(--ion-color-text);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  color: var(--ion-color-text);
  background: var(--ion-color-light-tint);
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background: var(--ion-background-active);
  color: var(--ion-color-light-contrast);
}
.p-input-filled .p-dropdown {
  background: var(--ion-color-light-tint);
}
.p-input-filled .p-dropdown:not(.p-disabled):hover {
  background-color: var(--ion-color-light-tint);
}
.p-input-filled .p-dropdown:not(.p-disabled).p-focus {
  background-color: var(--ion-color-light-tint);
}

.as-split-gutter {
  background: red;
}