ion-content {
  --offset-top: 0px;
  --offset-bottom: 0px;

  --background: url("../../../../assets/img/fondo.jpg") no-repeat !important;
  --background-size: cover !important;

  --color: var(--ion-color-tertiary) !important;
}
.error-box {
  height: 100%;
  position: fixed;
  width: 100%;
}
.error-box .footer {
  width: 100%;
  left: 0px;
  right: 0px;
}

.error-body {
  padding-top: 5%;
}
.error-body h1 {
  font-size: 210px;
  font-weight: 900;
  text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
  line-height: 210px;
}






