ion-slides {
    height: 100%;
}
:host ::ng-deep {
    .p-orderlist .p-orderlist-controls .p-button{
        height: 30px;
        background: var(--ion-color-secondary) !important;
        font-size: 10px;
    }

    .p-orderlist .p-orderlist-list{
        margin-left: 15px;
        width: 98%;
        height: calc(100% - 70px);
        display: block;
    }

}


