ion-list {
  --background: white;
  --ion-background-color: transparent;
  ion-item {
    --background: transparent;
    --ion-background-color: transparent;
    --border-radius: 0;
    --inner-padding-start: 0px;
    --color-hover: var(--ion-color-secondary);
    --padding: 0;
    --margin: 0;
    ion-label {
      color: #63768d;
      vertical-align: middle;
    }
    ion-icon {
      color: #63768d;
      vertical-align: middle;
      width: 23px;
      height: 23px;
      text-align: center;
    }
  }
}

.profile-pic {
  box-sizing: border-box;
  color: rgb(62, 85, 105);
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 10px;
  margin-top: 10px;
  outline-color: rgb(62, 85, 105);
  outline-style: none;
  outline-width: 0px;
  overflow-wrap: break-word;
  text-align: center;
}
.rounded-circle {
  height: 64px;
  width: 64px;
  border-radius: 50% !important;
}

.clear {
  clear: both;
}

.fondo {
  border-bottom: 1px solid #c8c7cc !important;
  background: url("../../../../assets/img/card-bg.png") no-repeat,linear-gradient(147deg, #252c33 0, #223E6D 100%);
  background-size: cover !important;
}
