ion-list {
 // --background: transparent;
 // --ion-background-color: transparent;
  ion-item {
  //  --background: transparent;
  //  --ion-background-color: transparent;
    --border-radius: 0;
    --inner-padding-start: 0px;
    --color-hover: var(--ion-color-secondary);
    --padding: 0;
    --margin: 0;
    font-size: 0.9rem!important;
    ion-label {
      color: #63768d;
      vertical-align: middle;
    }
    ion-icon {
      color: #63768d;
      vertical-align: middle;
      width:18px;
      height: 18px;
      text-align: center;
    }
  }
}

.nombreUsuario{
  font-size: 0.8rem!important;
  font-weight: bold;
}
.clear {
  clear: both;
}
